
<div class="container-fluid"  >
    <div class="row">
        <div class="col-sm col-md-2">
            <img class="img-fluid img-center" [src]="[data.images[0]]" id="img1"/>
        </div>
        <div class="col-sm col-md-2">
            <img class="img-fluid img-center" [src]="[data.images[2]]" id="img2"/>
        </div>
        <div class="col-sm col-md-2">
            <img class="img-fluid img-center" [src]="[data.images[3]]" id="img3"/>
        </div>
        <div class="col-sm col-md-2">
            <img class="img-fluid img-center" [src]="[data.images[1]]" id="img4"/>
        </div>

        <div class="col-sm col-md-4">
            <div class="p-2 bd-highlight">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" id="model">hello world {{data.model}} </h5>
                        <p class="card-text" id="price">{{data.price}}</p>
                        <a href="#" class="btn btn-primary mt-2">Buy Now</a>&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-primary mt-2" (click)="cart()">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">Features</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>   
                <tbody>
                    <tr>
                        <td>Brand</td>
                        <td>{{data.brand}}</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>{{data.type}}</td>
                    </tr>
                    <tr>
                        <td>Model</td>
                        <td>{{data.model}}</td>
                    </tr>
                    <tr>
                        <td>ISO Range</td>
                        <td>{{data.isoRange}}</td>
                    </tr>
                    <tr>
                        <td>Resolution</td>
                        <td>{{data.resolution}}</td>
                    </tr>
                    <tr>
                        <td>Touch Screen</td>
                        <td>{{data.touchScreen}}</td>
                    </tr>
                    <tr>
                        <td>Built-In Flash</td>
                        <td>{{data.builtInFlash}}</td>
                    </tr>
                    <tr>
                        <td>Live View</td>
                        <td>{{data.liveView}}</td>
                    </tr>
                    <tr>
                        <td>GPS</td>
                        <td>{{data.gps}}</td>
                    </tr>
                    <tr>
                        <td>HDR Model</td>
                        <td>{{data.hdrModel}}</td>
                    </tr>
                    <tr>
                        <td>Dual Memory</td>
                        <td>{{data.dualMemoryCard}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>
