<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="bg-light text-center text-white mt-2" >
        <!-- Copyright -->
        <div class="text-center ">
          <div class="text-danger" href="">
            <h5 class="card-title-reverse">Total Sum = Rs : {{totalAmount}} /- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="" class="btn btn-success">Proceed To Pay</a></h5>
          </div>
        </div>
        <!-- Copyright -->
      </footer>
       
    <!-- <h1>Cart Page works</h1> -->
    
    <div class="p-2 "   *ngFor="let d of data;index as i " >
    <div class="card mb-1" >
        <div class="row g-0">
          <div class="col-md-4">
            <img class="mb-5" src="{{d.image}}" alt="..." height="250px" width="300px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">{{d.name}}</h3>
              <h4 class="card-text">Rs : {{d.price}} /-</h4>
              <p class="card-text "><small class="text-muted"><button class="btn btn-danger" (click)="delete(d)">Delete</button></small></p>
            </div>
          </div>
        </div>
      </div>
    </div >

    
    
      

</body>
</html>
